
.viaje_card {
  display: flex;
  padding: 15px;
  flex-flow: row;
  background: #FFFFFF;
  border-radius: 10px;
  align-items: center;
  flex: 0 0 auto;
  width: 195px;
  height: 72px;
  margin-right: 10px;
  -webkit-transition: border 500ms ease-out;
  -moz-transition: border 500ms ease-out;
  -o-transition: border 500ms ease-out;
  transition: border 500ms ease-out;
  border: 0;

  &:hover {
    border: 1px solid $secondary;
    cursor: pointer;
  }

  &:active {
    border: 1px solid $secondary !important;
  }

  .img-card {
    width: 25px;
    height: 25px;
    object-position: top;
    object-fit: cover;

  }

  &_body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 10px;

    .text_v {
      font-size: 14px;
      color: #8e919b;
      margin-bottom: 0;
    }

    .title_v {
      font-weight: bold;
      margin-bottom: 0;
      color: #3864a9;
    }
  }
}

.destino_card {

  display: flex;
  flex: 0 0 auto;
  position: relative;
  height: 272px;
  border-radius: 15px;
  width: 196px;
  margin-right: 22px;
  opacity: 1;
  transition: all 0.5s ease;


  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &_body {
    height: 49px;
    background-color: rgba(13, 39, 76, 0.65);
    width: 100%;
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .text_d {
      font-size: 11px;
      color: white;
      margin-bottom: 0;
    }

    .title_d {
      font-weight: bold;
      margin-bottom: 0;
      color: white;
      font-size: 14px;
    }

  }

}

.destino_card_s {

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  max-width: 200px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-right: 22px;
  padding: 10px;


  &:hover {
    background-color: $primary !important;

    .destino_card_s_title {
      color: white !important;
    }
  }


  &_title {

    color: $secondary;
    font-size: 12px;
    margin-bottom: 0;
  }
}

.comprometido_card {

  background-color: #FFFFFF;
  padding: 15px;
  display: grid;
  grid-gap: 10px;
  width: 100%;
  height: 210px;
  grid-template-columns: 310px;
  grid-template-rows: 0.5fr 0.5fr 1fr;
  grid-template-areas: "image" "title" "text";
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

  &_header {
    grid-area: image;
    display: flex;
    justify-content: center;


    img {

      border-radius: 50%;
      width: 32px !important;
      height: 32px !important;


    }

  }


  &_body {


    .comprometido_card_title {
      grid-area: title;
      color: $primary;
      font-weight: bolder;
      text-align: center;

      margin-bottom: 5px;
      font-size: 16px;

    }

    .comprometido_card_text {
      grid-area: text;
      color: $primary;
      font-size: 12px;
      text-align: center;
      margin-bottom: 0;

    }
  }


}

.categoria_card {

  display: flex;


  flex: 0 0 auto;


  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 10px;
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 80px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);

  border: 1px solid $primary;

  .active {

    color: white;
    background-color: $secondary !important;

  }

  &:hover, &:focus {
    background-color: $primary !important;

  }


  img {
    width: 32px;
    height: 32px;
  }

  &_title {
    padding-top: 10px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;

  }


}

.destacado_card {

  background-color: #FFFFFF;
  margin-right: 10px;
  display: grid;
  width: 193px;
  height: 267px;
  grid-template-columns: 193px;
  grid-template-rows: 155px 70px 42px;
  grid-template-areas: "header" "body" "footer";
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(sm) {
    margin-right: 20px !important;
  }

  &_header {
    grid-area: header;
    align-self: start;
    display: flex;
    justify-content: center;


  }


  &_body {
    padding: 10px;

    grid-area: body;
    align-self: flex-start;

    .destacado_card_place {

      &_title {

        color: $dark;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;

      }

      &_subtitle {

        color: $gray-600;
        padding-bottom: 5px;


        font-size: 11pt;
        margin-bottom: 0;
      }
    }


  }

  &_footer {

    grid-area: footer;
    align-self: end;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 2px solid #dee2e6 !important;


    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    &_text {
      text-transform: uppercase;
      font-size: 9pt;
      color: $warning;
      margin-bottom: 0;

    }

    &_value {

      font-size: 18pt;
      font-weight: bold;
      color: $dark;
      margin-bottom: 0;
    }
  }

}


.personalizado_card {

  background-color: #FFFFFF;
  margin-right: 10px;
  display: grid;
  width: 247px;
  height: 439px;
  grid-template-columns: 247px;
  grid-template-rows: 160px 241px 38px;
  grid-template-areas: "header" "body" "footer";
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 20px;


  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(sm) {
    margin-right: 20px !important;
  }

  &_header {
    grid-area: header;
    align-self: start;
    display: flex;
    justify-content: center;

    .bg_price_personalizado {

      background-color: rgba(255, 255, 255, 0.5);
      padding: 5px 10px;
      display: flex;
      align-items: flex-start;
      flex-flow: row;
      border-radius: 10px;
      max-width: 150px;
      margin-right: 1rem;
      margin-top: 1rem;


      &_text {
        font-size: 11pt;
        margin-right: 2px;
        margin-top: 2px;
        text-align: right;
        color: #232230;

      }

      &_price {
        color: $dark;
        font-weight: bold;
        font-size: 28pt;
        margin-bottom: 0;

      }

    }

  }


  &_body {
    padding: 10px;
    padding-bottom: 0;

    grid-area: body;
    align-self: flex-start;

    .personalizado_card_place {

      &_subtitle {

        color: #808080;
        padding-bottom: 5px;
        line-height: 1;


        font-size: 12pt;
        margin-bottom: 0;
      }

      &_title {

        color: $dark;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        color: #232230;

      }

      &_position {
        display: flex;
        justify-content: flex-start;

        .personalizado_card_place_position_text {
          font-size: 10pt;
          color: #f3ca30;
          margin-bottom: 5px;
          width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

      }

      &_desc {
        font-size: 11pt;
        color: #808080;
        overflow: hidden;
        line-height: 1rem;
        max-height: 8rem;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        margin-bottom: 0;


      }


    }

    &_autor {
      display: flex;
      justify-content: flex-start;
      margin-left: 20px;
      gap: 10px;

      img {
        border-radius: 50%;

      }

      &_data {
        display: flex;
        flex-flow: column;


        &_name {
          font-size: 11pt;
          font-weight: bold;
          color: $secondary;
          margin-bottom: 0;

        }

        &_desc {
          font-size: 11pt;
          color: #808080;
          line-height: 1;
          margin-bottom: 0;
          overflow: hidden;

          max-height: 8rem;
          -webkit-box-orient: vertical;
          display: block;
          display: -webkit-box;
          overflow: hidden !important;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          margin-bottom: 0;

        }

      }
    }


  }

  &_footer {

    grid-area: footer;
    align-self: end;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #575F7C;
    height: 95%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;


    &_icons {
      display: flex;
      gap: 10px;


    }

    &_text {
      text-transform: uppercase;
      font-size: 9pt;

      margin-bottom: 0;
      color: #FFFFFF;

    }

    &_value {

      font-size: 18pt;
      font-weight: bold;
      color: $dark;
      margin-bottom: 0;
    }
  }

}
