// Change the primary colour

$primary : #0F63AD;
$secondary : #575E7B;
$breadcrumb-divider: quote(">");



body {
  font-family: 'Montserrat', sans-serif !important;
}


@import "~bootstrap/scss/bootstrap.scss";

@import "cards";
@import "home";
@import "font";
